{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block body %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="container bootstrap snippets bootdey">
    <div class="col-md-12">
        <h2 class="text-primary"> 
            <i class="fa fa-tachometer"></i>
            Dashboard
        </h2>
        <hr>
        <div class="row">  
            <div class="col-md-12">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Login Credentails - User</p>
                                <p>username: user@example.com</p>
                                <p>password: user</p>
                                <p>Login Credentails</p>
                                <p>Login Credentails - Admin</p>
                                <p>username: admin@example.com</p>
                                <p>password: admin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}
